<header>
  <nav class="bg-stone-100">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 h-50">
    <%= link_to '/' do %>
      <%= image_tag 'logo.png', size: "195x23" %>
    <% end %>
      <ul class="flex">
        <li class="text-base mr-12 flex"">
          <%= link_to '#'  do %>
            <i class="fa-regular fa-square-plus pr-1"></i><span>ワードを登録</span>
          <% end %>
        </li>
        <li class="text-base mr-12">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <li class="text-base mr-5">
          <div><i class="fa-regular fa-user pr-1"></i><%= current_user.name %></div>
        </li>
      </ul>
    </div>
  </nav>
</header>