<%= form_with model: post do |f| %>
  <% # render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :title, "ワード", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.text_field :title, class: "form-control w-full p-2 border border-gray-300 rounded mb-3", placeholder: "思い出のワード" %>
  </div>
  <div class="mb-3">
    <%= f.label :body, "意味", class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.text_area :body, class: "form-control w-full p-2 border border-gray-300 rounded mb-3", rows: "5", placeholder: "ワードの説明"%>
  </div>
  <%= f.submit "登録", class: "w-200 mb-6 bg-orange-400 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-md shadow-md transition" %>
<% end %>