<div class="container mx-auto pt-5">
  <div class="mb-3">
    <div class="lg:w-2/3 lg:mx-auto">
      <h1 class="text-3xl font-bold"><%= "ワード詳細" %></h1>
      <article class="bg-white shadow rounded-lg overflow-hidden">
        <div class="p-6">
          <div class="flex flex-col md:flex-row gap-4">
            <div class="md:w-3/4">
              <h3 class="text-xl font-semibold inline"><%= @post.title %></h3>
              <ul class="flex gap-2 text-gray-500 text-sm">
                <li><%= "by #{@post.user.name}" %></li>
              </ul>
            </div>
          </div>
          <p class="mt-4 text-gray-800"><%= simple_format(@post.body) %></p>
        </div>
      </article>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-full lg:w-8/12">
      <table class="w-full border-collapse border border-gray-200">
        <h1 class="text-3xl font-bold"><%= "エピソード" %></h1>
        <tbody id="table-episode">
            <% if @post.episodes.empty? %>
              <p>エピソードはまだありません</p>
            <% else %>
              <%= render @episodes %>
            <% end %>
        </tbody>
      </table>
      <%= render 'episodes/form', episode: @episode, post: @post %>
    </div>
  </div>
</div>
