<!DOCTYPE html>
<html>
  <head>
    <title>RUNTEQ百科事典</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body  class="flex flex-col min-h-screen">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div class="container mx-auto mt-5">
      <%= render 'shared/flash_message' %>
    </div>
    <main class="container flex-grow mx-auto mt-10 px-5 flex">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>